<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Reservation{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{path("Home")}}"> acceuille </a>
           
            {% if app.user %}
                 <a href="{{path("Reservation")}}">reservation</a>
                 <a href="{{path("app_logout")}}">deconexion</a>
            {% else %}
                  <a href="{{path("login")}}">login</a>
                  <a href="{{path("inscription")}}">inscription</a>
            {% endif %}
           
            
            
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
